.main{
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    padding: 15px;
    background: #f3f3f3;
    height: 100%;
    .title{
        text-align: center;
    }
    .title-row{
        padding-left: 20px;
        margin-top: 20px;
    }
    .hello{
        padding: 20px 0;
        .inner{
            display: flex;
            flex-direction: row;
            justify-content:  flex-start;
            align-items: center;
            margin-top: 10px;
        }
        .input, .select{
            width: 194px;
            margin-left: 10px;
        }
    }
    .list-box{
        margin-top: 20px;
        .name-item{
            margin: 6px;
            font-size: 16px;
        }
    }
    .tag-box{
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        padding: 10px;
    }
    .btn-row{
        text-align: center;
        .btn-get{
            width:340px;
        }
    }
    .pagination-box{
        margin-top: 10px;
    }
} 